absl-py==2.3.1
accelerate==1.10.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
array_record==0.7.2
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
bitsandbytes==0.47.0
blobfile==3.0.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.8
contourpy==1.3.2
cryptography==44.0.3
cycler==0.12.1
datasets==3.1.0
datasketch==1.6.5
decord==0.6.0
-e git+ssh://git@github.com/fardatalab/fl_dedup.git@44e14791c73475d66d350ffb08891320dd3fc3a5#egg=dedup_cpp_core
deepspeed==0.17.4
dill==0.3.8
distro==1.9.0
dm-tree==0.1.9
docstring_parser==0.17.0
duckdb==1.3.2
einops==0.8.1
etils==1.13.0
faiss-cpu==1.12.0
faiss-gpu==1.7.2
filelock==3.19.1
flash_attn==2.8.3
flatbuffers==25.2.10
flwr==1.21.0
flwr-datasets==0.5.0
fonttools==4.59.2
frozenlist==1.7.0
fsspec==2024.9.0
ftfy==6.3.1
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
grpcio==1.74.0
grpcio-health-checking==1.62.3
h5py==3.14.0
hf-xet==1.1.7
hf_transfer==0.1.9
hjson==3.1.0
hnswlib==0.8.0
huggingface-hub==0.34.4
hydra-core==1.3.2
idna==3.10
ImageHash==4.3.2
immutabledict==4.2.1
importlib_resources==6.5.2
inquirerpy==0.3.4
iterators==0.0.2
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==3.11.2
kiwisolver==1.4.9
libclang==18.1.1
lxml==6.0.0
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
multiprocess==0.70.16
namex==0.1.0
networkx==3.4.2
ninja==1.13.0
numpy==2.1.3
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py==13.580.65
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.0
opencv-python==4.12.0.88
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.1
pathspec==0.12.1
peft==0.17.0
pfzy==0.3.4
pillow==11.3.0
platformdirs==4.3.8
promise==2.3
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==4.25.8
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==21.0.0
pybind11==3.0.0
pycparser==2.23
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyWavelets==1.8.0
PyYAML==6.0.2
ray==2.31.0
referencing==0.36.2
regex==2025.7.34
requests==2.32.4
rich==13.9.4
rpds-py==0.27.1
safetensors==0.6.2
scenedetect==0.6.7
scikit-build==0.18.1
scikit-learn==1.7.1
scipy==1.15.3
seaborn==0.13.2
sentencepiece==0.2.1
sentry-sdk==2.35.0
shellingham==1.5.4
simple-parsing==0.1.7
six==1.17.0
smmap==5.0.2
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
tensorflow==2.19.1
tensorflow-datasets==4.9.9
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.2
termcolor==3.1.0
tf_keras==2.19.0
threadpoolctl==3.6.0
tiktoken==0.11.0
timm==1.0.19
tokenizers==0.21.4
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
torch==2.8.0
torch-dct==0.1.6
torchvision==0.23.0
tqdm==4.67.1
transformers==4.55.2
triton==3.4.0
trl==0.21.0
typer==0.12.5
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
wandb==0.21.1
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.3
xxhash==3.5.0
yarl==1.20.1
yt-dlp==2025.9.5
zipp==3.23.0
